{% extends "base.html" %} {% load static %} {% block content %}

<div id="app" class="container">
  <div class="row">
    <div class="col">
      {% comment %} start form {% endcomment %}
      <form @submit.prevent class="mt-3">
        <div v-for="(item, key) in itineraries" :key="key">
          <div class="d-flex flex-column">
            <div v-if="key">
              <span>Going Next</span>
              <button @click="delComponent(key)">del</button>
            </div>
            <div v-else>
              <span>Where do you want to go? </span>
            </div>
            <div>
              <input-field
                title=""
                :city.sync="item.city"
                :start-date.sync="item.start_date"
                :end-date.sync="item.end_date"
              >
              </input-field>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button @click="addComponent" class="btn btn-success">
            Add Destination
          </button>
        </div>

        <div class="mb-3">
          <label for="" class="form-label"
            >Select the kind of activities you want to do</label
          >
          <div class="flex flex-wrap">
            <button class="btn btn-secondary">Click</button>
          </div>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">How Many People Are Going</label>
          <input type="number" class="form-control" min="1" />
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Who Travel With you?</label>
          <div class="d-flex justify-content-between">
            <button class="btn btn-lg btn-secondary">Friends</button>
            <button class="btn btn-lg btn-secondary">Family</button>
          </div>
        </div>

        {% comment %} Start activity {% endcomment %}
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block script %}

<script src="{% static 'base/main.js' %}"></script>
<script src="{% static 'base/blog.js' %}"></script>
<script src="{% static 'base/components/inputfield.js' %}"></script>
<script src="{% static 'base/components/custominput.js' %}"></script>

<script>
  const a = "apel";
  const { createApp } = Vue;
  new Vue({
    el: "#app",
    data() {
      return {
        itineraries: [
          {
            city: "",
            start_date: "",
            end_date: "",
          },
        ],
      };
    },

    methods: {
      addComponent() {
        this.itineraries.push({});
      },

      delComponent(index) {
        this.itineraries.splice(index, 1);
      },
    },

    delimiters: ["[[", "]]"],
  });
</script>
{% endblock script %}
