{% extends "base.html" %} {% load static %} {% block content %}

<div id="app" class="container">
  <div v-for="(item, key) in customs" :key="key">
    <custom-input
      :address.sync="item.address"
      :first-name.sync="item.firstName"
    ></custom-input>
    <button @click="removeComponent(key)">-</button>
  </div>
  <button @click="addCustom">+</button>

  [[customs]]
  <hr />
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      {% comment %} start form {% endcomment %}
      <form @submit.prevent>
        <div class="mt-3">
          <span>Where do you want to go</span>
          <input-field title="" @city-change="handleCity"></input-field>
        </div>
        <div v-for="(item, index) in components" :key="inex">
          <span>Next destination</span>
          <button @click="delComponent(index)">del</button>
          <input-field title=""></input-field>
        </div>
        <div class="mb-3">
          <button @click="addComponent" class="btn btn-success">
            Add Destination
          </button>
        </div>

        <div class="mb-3">
          <label for="" class="form-label"
            >Select the kind of activities you want to do</label
          >
          <div class="flex flex-wrap">
            <button class="btn btn-secondary">Click</button>
          </div>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">How Many People Are Going</label>
          <input type="number" class="form-control" min="1" />
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Who Travel With you?</label>
          <div class="d-flex justify-content-between">
            <button class="btn btn-lg btn-secondary">Friends</button>
            <button class="btn btn-lg btn-secondary">Family</button>
          </div>
        </div>

        {% comment %} Start activity {% endcomment %}
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block script %}

<script src="{% static 'base/main.js' %}"></script>
<script src="{% static 'base/blog.js' %}"></script>
<script src="{% static 'base/components/inputfield.js' %}"></script>
<script src="{% static 'base/components/custominput.js' %}"></script>

<script>
  const a = "apel";
  const { createApp } = Vue;
  new Vue({
    el: "#app",
    data() {
      return {
        name: a,
        address: "",
        components: [],
        customs: [
          {
            address: "",
            firstName: "",
          },
        ],
        data: {
          city: 1,
          start_data: "",
          end_data: "",
          activities: [1, 2, 3],
          total_person: 0,
          travelar_type: "Family",
        },
        datas: [],
      };
    },

    methods: {
      addComponent() {
        this.components.push("input-field");
      },

      delComponent(index) {
        this.components.splice(index, 1);
      },
      handleCity(data) {
        console.log(data);
      },

      addCustom() {
        this.customs.push({});
      },
      removeComponent(index) {
        this.customs.splice(index, 1);
      },
    },

    delimiters: ["[[", "]]"],
  });
</script>
{% endblock script %}
